<p id="notice">
  <%= notice %>
</p>

<div id='container'>

  <h1><%= @family_member.name %></h1>
  <p>(has <strong><%= count_relationships %></strong> family members)
  <p><%= link_to 'Back', family_members_path %></p>

  <div id='left'>
    <h2>Relationships</h2>
    <h3>Grandparent:</h3>
      <% if @family_member.grandparent %>
        <%= link_to @family_member.grandparent.name, @family_member.grandparent %>
      <% end %>
    <h3>Parent:</h3>
      <% if @family_member.parent %>
        <%= link_to @family_member.parent.name, @family_member.parent %>
      <% end %>
    <h3>Children:</h3>
      <p>
      <% @family_member.children.each do |child| %>
        <%= link_to child.name, child %><br>
      <% end %>
      </p>
    <h3>Grandchildren:</h3>
    <p>
      <% if @family_member.grandchildren %>
        <% @family_member.grandchildren.each do |grandchild| %>
          <%= link_to grandchild.name, grandchild %><br>
        <% end %>
      <% end %>
    </p>
    <%= form_for @family_member, :url => url_for(:controller => 'family_members', :action => 'create_relative'), :method => :POST do |f| %>
      <strong>Create New Relative:</strong>
      <div>
        <%= f.fields_for :relative do |relative_form| %>
          <div>
            <%= relative_form.label :name %>:
            <%= relative_form.text_field :name %>
          </div>
          <div>
            <%= relative_form.label :email %>:
            <%= relative_form.text_field :email %>
          </div>
          <div class="field">
            <%= relative_form.label :relationship %>:
            <%= select_tag "relationship",
                options_for_select(get_relationship_options(@family_member)) %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit("Create New Relative") %>
        </div>
      </div>
    <% end %>
  </div>

  <div id='right'>
  <h2>Messages</h2>
    <% @family_member.messages.reverse.each do |message| %>
      <p><%= message.message_text %></p>
    <% end %>

  <%= form_for @family_member do |f| %>
    <strong>New Message:</strong>
    <div>
      <%= f.fields_for :message do |message_form| %>
          <%= message_form.label :message_text %>:
          <%= message_form.text_field :message_text %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit("Create New Message") %>
    </div>
  <% end %>
  </div>

</div>
