<p id="notice">
  <%= notice %>
</p>

<div id='container'>

<h2><%= @family_member.name %></h2>
<p><%= link_to 'Edit', edit_family_member_path(@family_member) %></p>

<div id='left'>
<h3>Relationships</h3>
<%= form_for @family_member, :url => url_for(:controller => 'family_members', :action => 'create_relative'), :method => :POST do |f| %>
  <strong>Create New Relative:</strong>
  <div>
    <%= f.fields_for :relative do |relative_form| %>
      <div>
        <%= relative_form.label :name %>
        <%= relative_form.text_field :name %>
      </div>
      <div>
        <%= relative_form.label :email %>
        <%= relative_form.text_field :email %>
      </div>
      <div class="field">
        <%= relative_form.label :relationship %>:<br>
        <%= select_tag "relationship",
            options_for_select(get_relationship_options(@family_member)) %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit("Create New Relative") %>
    </div>
  </div>
<% end %>
</div>

<div id='right'>
<h3>Messages</h3>
  <% @family_member.messages.reverse.each do |message| %>
    <p><%= message.message_text %></p>
  <% end %>

<%= form_for @family_member do |f| %>
  <strong>New Message:</strong>
  <div>
    <%= f.fields_for :message do |message_form| %>
        <%= message_form.label :message_text %>:
        <%= message_form.text_field :message_text %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit("Create New Message") %>
  </div>
<% end %>
</div>

</div>
