

%p{:id => "notice"}= notice
%p
  %strong Name:
  = @family_member.name
%p
  %strong Email:
  = @family_member.email
= link_to 'Edit', edit_family_member_path(@family_member)
|
\#{link_to 'Back', family_members_path}
